<footer class="site-footer">

  <div class="wrap">

    <!-- <h2 class="footer-heading">{{ site.title }}</h2> -->

    <div class="footer-col-1 column">
      <ul> 
        <li><a href="http://www.sudoankit.xyz">About</a></li>
        <li><div style="text-align: inherit; font-size: 60%; color: #d3d3d3">Recommended resolution: $\geq$2560 x 1600 px </div></li>
        <li><div style="text-align: inherit; font-size: 60%; color: #d3d3d3">For Mobile Devices, I suggest viewing in landscape mode.</div></li>

        <!-- <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li> -->
      </ul>
    </div>

    <div class="footer-col-2 column">
      <ul>
        {% if site.github_username %}<li>
          <a href="https://github.com/{{ site.github_username }}">
            <span class="username">(github) {{ site.github_username }}</span>
          </a>
        </li>{% endif %}
        {% if site.twitter_username %}<li>
          <a href="https://twitter.com/{{ site.twitter_username }}">
            
            <span class="username">(twitter) {{ site.twitter_username }}</span>
          </a>
        </li>{% endif %}
      </ul>
    </div>

    <div class="footer-col-3 column">
      <p class="text">Math, AI, Neuroscience, Security and Futurology </p>
      <div style="text-align: inherit; font-size: 60%; color: #d3d3d3"> Last update on {{ site.time | date: "%b %-d, %Y" }}</div>
    </div>


  </div>

</footer>
